<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Assignment</div>
    <div class="panel-body">
      <app-assignment></app-assignment>
    </div>
  </div>
  <hr />
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server *ngFor="let serverElem of serverElements" [srvElement]="serverElem">
        <p #paragraph>
          <strong *ngIf="serverElem.type === 'server'" style="color: red">{{ serverElem.content }}</strong>
          <em *ngIf="serverElem.type === 'blueprint'">{{ serverElem.content }}</em>
        </p>
      </app-server>
    </div>
  </div>
</div>
