<div class="container" style="padding-top:2em">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button class="btn btn-success" (click)="onStartGame()">Start</button>
        <button class="btn btn-danger" (click)="onStopGame()">Stop</button>
        <button class="btn btn-primary" (click)="onResetGame()">Reset</button>
      </div>
      <span style="padding: 0 15px">{{ counter }}</span>
    </div>
    <hr />
    <div class="col-sm-12">
        <span *ngFor="let entry of numbers" style="margin: 2.5px; display: inline-block;">
          <div *ngIf="entry.num % 2 !== 0" class="label label-warning">
              {{ entry.num }}
          </div>
          <div *ngIf="entry.num % 2 === 0" class="label label-info">
              {{ entry.num }}
          </div>
        </span>
    </div>
    <div class="col-xs-12">
      <p appBasicHighlight>Color me green via directive</p>
      <p appBetterHighlight [primaryBG]="'yellow'" secondaryBG="red">Color me blue via directive which is better</p>
      <p *appUnless="counter % 2 !== 0">Show this only if the counter is even</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">FizzBuzz</p>
        <p *ngSwitchCase="10">Fizz</p>
        <p *ngSwitchCase="15">Buzz</p>
        <p *ngSwitchDefault>--------</p>
      </div>
    </div>
  </div>
</div>
